.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(251, 251, 251);
}

.beigeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 251, 248, 255);
  z-index: 1;
  pointer-events: none;
}
.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  /* gap: 15px; */
  width: 100%;
  height: auto;
  /* height: 100%; */
  /* overflow: hidden; */
  padding: 20px;
  align-content: start;
  /* padding: 1.5rem; */
  box-sizing: border-box;
  position: relative; /* Position für den Grid */
  z-index: 2; /* Grid unterhalb des Textes */
  opacity: 0.4;
  grid-auto-rows: 1fr; /* Gleichmäßige Verteilung der Reihen */
}

/* Dynamische Höhe des Containers (um sicherzustellen, dass keine Zeile abgeschnitten wird) */
#mosaic-container {
  height: auto;
  min-height: calc(
    100vh - 80px
  ); /* Beispiel: Höhe des Containers, angepasst an die Bildschirmgröße */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
/* .transitionSpacer {
  height: 100px;
  background: linear-gradient(
    to bottom,
    #f5f5f5,
    white
  ); /* oder beige zu weiß 
  margin-top: -20px; /* optionaler overlap für smoothen Übergang 
} */

.gridItem {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* macht das GridItem quadratisch */
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  filter: grayscale(100%);
  opacity: 0.5;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image :global(img) {
  object-fit: cover;
}

/* Dynamische Höhe des Containers */
/* #mosaic-container {
  height: auto;
  min-height: calc(
    100vh - 80px
  ); 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
} */

/* .gridItem img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
} */

.overlay {
  /* position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: 10; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.5); Halbdurchsichtiger Hintergrund */
  z-index: 10; /* Oberhalb des Grids */
  display: flex;
  flex-direction: column;
  align-items: center; /* optional, zentriert die Elemente horizontal */
}

.brand {
  font-size: 12vw;
  color: #ed6c02;
  /* opacity: 0.8; */
  /* background-color: #ed6c02; */
  border-radius: 20px;
  font-weight: bold;
  z-index: 11;
  text-align: center;
  pointer-events: none;
  /* text-transform: uppercase; */
  /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); */
  padding: 1rem;
}

.subtitel {
  font-size: 2vw;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 6px;
    padding: 1rem;
  }

  .brand {
    font-size: 18vw; /* Etwas größer auf Mobile */
  }

  .subtitel {
    font-size: 4vw;
  }
}

/* STYLES FOR TEXT IN BETWEEN */
.text-block {
  text-align: center !important;
}

/* STYLES FOR PRODUCTS */
div.scrollmenu {
  background-color: #d3d3d3;
  overflow: auto;
  white-space: nowrap;
  width: 100vw;
  -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; Firefox */
}

div.scrollmenu::-webkit-scrollbar {
  display: none;
}

/* Inner flex container */
div.scroll-container {
  display: flex;
  gap: 16px; /* Adds spacing between items */
}

/* Ensure product cards don't shrink */
div.scroll-container > * {
  flex: 0 0 auto;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(90px, 1fr)
    ); /* Kleinere Produkte für mobile Geräte */
    gap: 6px;
    padding: 1rem;
  }
}
