.dashboardChatWindow {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.dashboardChatWindow .chatContainer {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-left: 10px;
  z-index: 1000;
  background-color: white;
}

.storeChatWindow {
  position: fixed;
  bottom: 100px;
  /* right: 5%; */
  right: calc(100% - 850px - 20px);
  width: 360px;
  height: 400px;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1050;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.storeChatWindow .chatContainer {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-left: 10px;
  /* position: fixed; */
  /* z-index: 1000; */
  background-color: white;
}

.storeChatWindow .chatFooter {
  display: flex;
  padding: 0.5rem;
  border-top: 1px solid #eee;
  position: relative;
}

.chatHeader {
  padding: 0.4rem;
  margin-top: 0.3rem;
  background-color: var(--grey-bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.chatMessages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.chatFooter {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #eee;
  position: relative;
}

.menu {
  position: absolute;
  top: 50px;
  right: 0;
  max-width: calc(100% - 20px);
  width: auto;
}

.messageBox {
  color: black;
  border-radius: 12px;
  padding: 8px 12px;
  max-width: 70%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.messageTime {
  font-size: 0.7rem;
  float: right;
  margin-top: 4px;
  color: gray;
}

@media (max-width: 420px) {
  .storeChatWindow {
    left: 5%;
    right: 5%;
    width: auto;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .storeChatWindow {
    right: calc(100% - 275px - 20px); /* Dynamisch für kleinere Bildschirme */
    max-width: 90%; /* Damit das Chatfenster auch auf kleineren Bildschirmen passt */
  }
}
